# Compiled source #
###################
*.class

# Package Files #
###################
*.jar
*.war
*.ear

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs #
########
*.log
logs

# Eclipse project #
###################
*.settings
*.project
*.classpath

# Intellij IDEA project #
#########################
*.idea
*.iml
*.ipr
*.iws

# Build dirs #
##############
target
bin
build
out
log

# Docker env vars #
.env

# spring boot properties #
*-local.properties
*-dev.properties

# Logs (static content package tool specific)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# VS code project #
.vscode/*
!.vscode/extensions.json
