# Compiled source #
###################
*.class

# Package Files #
###################
*.jar
*.war
*.ear

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs #
########
*.log

# Eclipse project #
###################
*.settings
*.project
*.classpath

# Intellij IDEA project #
#########################
*.idea
*.iml
*.ipr
*.iws

# Build dirs #
##############
target
bin
build
out
log

# Docker env vars #
.env
