<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Get wordy :: Cards</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.18/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Optional theme -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
    </style>
</head>

<body class="d-flex flex-column h-100">
<header class="text-muted bg-light">
    <div class="container p-4">
        <div class="row align-items-center">
            <div class="col">
                <h4 id="caption"></h4>
            </div>
            <div class="col">
                <a href="/GetWordyApp/settings.html" class="btn btn-default btn-lg float-end" target="_self">
                    <i class="bi bi-gear"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container" id="action-buttons">
        <div class="row p-5 text-center">
            <div class="col-sm-12">
                <a href="#" class="btn btn-default btn-lg" onclick="renderCardsPanel();return false;">
                    <i class="bi bi-card-list"></i> All cards
                </a>
                <a href="#" class="btn btn-default btn-lg" onclick="renderPlayPanel();return false;">
                    <i class="bi bi-emoji-smile-upside-down"></i> Try game
                </a>
                <a href="#" class="btn btn-default btn-lg" onclick="renderGeneratePanel();return false;">
                    <i class="bi bi-bricks"></i> Generate
                </a>
                <a href="#" class="btn btn-default btn-lg" onclick="renderAddCardPanel();return false;">
                    <i class="bi bi-plus-circle-dotted"></i> Add manually
                </a>
            </div>
        </div>
    </div>
    <div class="container p-4" id="all-cards-panel" style="display:none">
        <table class="table">
            <thead>
            <tr>
                <th>Word</th>
                <th>Transcription</th>
                <th>Meaning</th>
                <th>Status</th>
                <th>Score</th>
                <th>Context</th>
                <th>Collocations</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="card in cards">
                <td>{{card.word.value}} ({{card.word.partOfSpeech}})</td>
                <td>{{card.word.transcription}}</td>
                <td>{{card.word.meaning}}</td>
                <td>{{card.status}}</td>
                <td>{{card.score}}</td>
                <td>
                    <ul class="list-unstyled" v-if="card.contexts.length > 0">
                        <li v-for="context in card.contexts">
                            {{context}}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled" v-if="card.collocations.length > 0">
                        <li v-for="collocation in card.collocations">
                            {{collocation}}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container p-4" id="generate-cards-panel" style="display:none">
        <p class="mb-3">This page is designed to auto generate cards per each inputted word</p>
        <form action="" id="generate-cards-form" v-on:submit.prevent="post_words_form">
            <div class="mb-3">
                <label for="text" class="form-label">Input your words:</label>
                <textarea class="form-control" rows="5" id="text" name="words" v-model.lazy="formData.words"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container p-4 text-center" id="play-game-panel" style="display:none">
        <p class="mb-3">You wanna play? let's play</p>
        <div class="d-flex align-items-center">
            <div class="col-sm-12">
                <a href="#" class="btn btn-default btn-lg" onclick="printFiboNumbers();return false;">
                    <i class="bi bi-123"></i> Fibonacci Series
                </a>
                <a href="#" class="btn btn-default btn-lg" onclick="rollDice();return false;">
                    <i class="bi bi-dice-5"></i> Roll Dice
                </a>
            </div>
        </div>
    </div>
    <div class="container p-4 text-center" id="play-game-panel-inner" style="display:none">
        to be replaced
    </div>
    <div class="container p-4" id="add-card-panel" style="display:none">
        <p class="mb-3">This page is designed to add a card manually</p>
        <form action="" id="add-card-form" v-on:submit.prevent="post_card_form">
            <div class="row mb-3">
                <div class="col">
                    <label for="word" class="form-label">Word:</label>
                    <input type="text" class="form-control" placeholder="Enter word" name="word" id="word" v-model.lazy="formData.word">
                </div>
                <div class="col">
                    <label for="radioGrp" class="form-label">Part of speech:</label>
                    <div id="radioGrp">
                        <div class="form-check" v-for="part in parts">
                            <input type="radio" class="form-check-input" v-model="formData.partOfSpeech" v-bind:value="part" v-bind:id="part">
                            <label class="form-check-label" v-bind:for="part">{{part}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="transcription" class="form-label">Transcription:</label>
                    <input type="text" class="form-control" placeholder="Enter transcription" name="transcription" id="transcription" v-model.lazy="formData.transcription">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="meaning" class="form-label">Meaning:</label>
                    <input type="text" class="form-control" placeholder="Enter meaning" name="meaning" id="meaning" v-model.lazy="formData.meaning">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="contexts" class="form-label">Input your example(s) line by line:</label>
                    <textarea class="form-control" rows="3" id="contexts" name="contexts" placeholder="Enter examples" v-model.lazy="formData.contexts"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="collocations" class="form-label">Input your collocation(s) line by line:</label>
                    <textarea class="form-control" rows="3" id="collocations" name="collocations" placeholder="Enter collocations" v-model.lazy="formData.collocations"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-5">Submit</button>
        </form>
    </div>
    <div class="container p-4" id="custom-alert-panel" style="display:none">
        <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle-fill"></i> Successfully added
        </div>
    </div>
</main>
<footer class="footer mt-auto text-muted bg-light">
    <div class="container p-5 text-center">
        <p>
            <a href="index.html">Back to home</a>
        </p>
        <p>Get Wordy App :: Boost vocabulary effectively</p>
    </div>
</footer>
<script src="common.js"></script>
<script src="cards.js"></script>
</body>

</html>